In [23]:
import pandas as pd

    # Read data from file
    df = None

In [239]:
# Read data from file

df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = None

In [238]:
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

    # What is the average age of men?
    average_age_men = None

In [247]:
average_age_men = df.loc[df['sex'] == 'Male']['age'].mean().round(1)
average_age_men

np.float64(39.4)

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = None

In [255]:
percentage_bachelors = round(df.loc[df['education'] == 'Bachelors'].shape[0] / df.shape[0] * 100, 1)
percentage_bachelors

16.4

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?
    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = None
    lower_education = None

In [243]:
higher_education_df = df.loc[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]
lower_education_df = df.loc[~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))]
higher_education = higher_education_df.shape[0]
lower_education = lower_education_df.shape[0]
higher_education, lower_education

(7491, 25070)

    # percentage with salary >50K
    higher_education_rich = None
    lower_education_rich = None

In [253]:
# percentage with salary >50K
higher_education_rich = round(higher_education_df.loc[higher_education_df['salary'] == '>50K'].shape[0] / higher_education * 100, 1)
lower_education_rich = round(lower_education_df.loc[lower_education_df['salary'] == '>50K'].shape[0] / lower_education * 100, 1)
higher_education_rich, lower_education_rich

(46.5, 17.4)

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = None

In [89]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

np.int64(1)

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = None

    rich_percentage = None

In [236]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df.loc[df['hours-per-week'] == df['hours-per-week'].min()].shape[0]

rich_percentage = df.loc[(df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K')].shape[0] / num_min_workers * 100
rich_percentage

10.0

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = None
    highest_earning_country_percentage = None

In [254]:
# What country has the highest percentage of people that earn >50K?

countries = df['native-country'].unique()
perc_rich = []

for country in countries:
    #number of people in the country:
    np = df.loc[df['native-country'] == country].shape[0]

    #number of people in the country that earn >50K
    np_rich = df.loc[(df['native-country'] == country) & (df['salary'] == '>50K')].shape[0]

    #percentage of people that earn >50K in the country:
    perc_rich.append(np_rich / np * 100)

perc_rich = pd.DataFrame(perc_rich)
perc_rich.index = countries
ans = perc_rich.sort_values(0, ascending=False).iloc[0]

highest_earning_country = ans.name
highest_earning_country_percentage = ans[0].round(1)

highest_earning_country, highest_earning_country_percentage

('Iran', np.float64(41.9))

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = None

In [235]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = None

top_IN_occupation = df.loc[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().to_frame().iloc[0].name
top_IN_occupation

'Prof-specialty'